<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>your library</title>
<link rel="stylesheet" type="text/css"
	href = "/css/myStyle.css" />
</head>

<body>
	<h1>your personal library</h1>
	<div class="row">
		<div class="column">
			<p>
				Here are <span th:text="${user}">user's name> </span> <span>'s
					books: </span>
			</p>

			<table>
				<tr>
					<th>id</th>
					<th>author</th>
				</tr>
				<tr th:each="book : ${books}">
					<td><span th:text="${book.id}"> id </span></td>
					<td><a th:href="@{/library/{url}(url=${book.url})}"> <span
							th:text="${book.author}"> autor </span>
					</a></td>

				</tr>
			</table>
		</div>
		<a th:href="@{/addbook}">Add new author</a>
	</div>
</body>

</html>