<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="UTF-8">
	<title th:text = "${author}">  </title>
</head>
<body>
	<h1 align = "center" th:text="${author}">Pagina pentru un anumit autor</h1>
	<p> Works: </p>
	<table>
		<tr>
			<th> title </th>
			<th> type </th>
			<th> year </th>
			<th> status </th>
			<th> delete </th>
		</tr>
		<tr th:each = "work: ${works}">
			<td th:text = "${work.title}"></td>
			<td th:text = "${work.type}"></td>
			<td th:text = "${work.year}"></td>
			<td th:text = "${work.status}"></td>
			<td> <a th:href = "@{/delete/{id}(id=${work.id})}" > Delete </a></td>
		</tr>
	</table>
	<p> Add a new work for this author <a th:href = "@{/library/{id}/addwork(id=${id})}">here</a>
</body>
</html>