<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>your library</title>
<link rel="stylesheet" type="text/css"
	href = "/css/myStyle.css" />
</head>

<body>
	<h1>your personal library</h1>
	<div class="row">
		<div class="column">
			<p>
				Here are <span th:text="${user}">user's name> </span> <span>'s
					books: </span>
			</p>
	</div>
	<div th:switch="${books}">
    <h2 th:case="null">No authors yet!</h2>
        <div th:case="*">
            <table>
                <thead>
                    <tr>
                    	<th>id</th>
                        <th>Author's name</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                <tr th:each="book : ${books}">
                	<td><span th:text="${book.id}"> id </span></td>
                    <td><a th:href="@{/library/{id}(id=${book.id})}"> 
                    	<span th:text="${book.author}"> autor </span> </a></td>
                    <td><a th:href="@{/library/{id}/delete(id=${book.id})}">Delete</a></td>
                </tr>
            </tbody>
        </table>	
    </div>      
    <p><a href="/addbook">Add a new author</a></p>
</div>
</div>
</body>

</html>