<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>your library</title>
<link rel="stylesheet" href="myStyle.css">
</head>

<body>
	<h1 align="center">your personal library</h1>
	<div class="row">
		<div class="column">
			<p>
				Here are <span th:text="${user}">user's name> </span> <span>'s
					books: </span>
			</p>

			<table>
				<tr>
					<th>id</th>
					<th>author</th>
					<th>url</th>
				</tr>
				<tr th:if="${books.empty}">
					<td colspan="2">No Books Available</td>
				</tr>
				<tr th:each="book : ${books}">
					<td><span th:text="${book.id}"> id </span></td>
					<td><a th:href="@{${book.author}}"> <span
							th:text="${book.author}"> autor </span>
					</a></td>

				</tr>
			</table>
		</div>

		<div class="column">
			<form>
				<label for="fauthor">Author's Name</label><br> <input
					type="text" id="fauthor" name="fauthor"><br>
			</form>
		</div>
	</div>
</body>

</html>